<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbOeomFuAdSoUjw2L06TlAhc8XtRXUVCI</string>
	<key>GCM_SENDER_ID</key>
	<string>462865760925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoUploading.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>video-uploading-func</string>
	<key>STORAGE_BUCKET</key>
	<string>video-uploading-func.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462865760925:ios:dc702508c6ab500ce50a74</string>
	<key>DATABASE_URL</key>
	<string>https://video-uploading-func-default-rtdb.firebaseio.com</string>
</dict>
</plist>